.card{
    border: 2px solid #bf8d54 !important;
    background-color:#161618 ;
}

.table,
.table thead,
.table tbody,
.table tr,
.table td,
.table th {
    background-color: transparent !important;
}
.text-warning{
    color: #bf8d54 !important;
}
.btn-custom{
    background-color: #bf8d54 !important;
    border-radius: 0 !important;
}
.btn-custom:hover{
    background-color: #bb813f !important;
    border-radius: 0 !important;
}